.App {
  background-color: #eee;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

.search-bar-container {
  padding-top: 20vh;
  width: 100%; 
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column; 
  align-items: stretch;
  min-width: 300px; 
  box-sizing: border-box;
}
